page-inspiration {
    h1 {
        color: #4ccfad;
    }
    p {
        color: #999;
    }
    h2 {
        color: #4b4c51;
        padding: 20px 0 0 0;
        text-align: center;
        font-size: 1.8rem !important;
    }
}