<ion-header>
	<page-header></page-header>
</ion-header>

<ion-content>
  <ion-list >
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let item of newPrayerList; let i = index; trackBy:trackByIndex">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{item.profilePicUrl}}" *ngIf="item.profilePicUrl">
          <img src="assets/img/default_user_image.jpg" *ngIf="!item.profilePicUrl">
        </ion-avatar>
        <p><b>{{item.userName}}</b></p>
        <button ion-button icon-only clear item-right default (click)="presentActionSheet(item)">
          <ion-icon name="more" color="gray"></ion-icon>
        </button>
      </ion-item>
      <ion-item text-wrap>
        <p style="-webkit-box-orient: vertical" class="clamp">{{item.message}}</p>
      </ion-item>
      <ion-item>
        <button ion-button icon-only clear item-left default (click)="prayFor(item, i)">
          <ion-icon [name]="item.prayers.hasOwnProperty(currentUserId) ? 'heart' :'heart-outline'"
                    [color]="item.prayers.hasOwnProperty(currentUserId) ? 'secondary' :'gray'"></ion-icon>
        </button>
        <p item-left>{{item.prayerCount}} prayers</p>
        <p item-right>{{item.timestamp | amTimeAgo}}</p>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="prayerRequest" (ngSubmit)="submitRequest()">
    <ion-item style="border-top: 2px #4ccfad solid; border-bottom: 3px #d5d4da solid">
      <ion-textarea formControlName="message" type="text" placeholder="Add a prayer..."></ion-textarea>
      <button ion-button icon-only clear item-right default type="submit">
        <ion-icon name="send" color="secondary"></ion-icon>
      </button>
    </ion-item>
  </form>
  <page-footer></page-footer>
</ion-footer>