<ion-header>
	<page-header></page-header>
</ion-header>

<ion-content>
  <ion-list >
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <div text-center>
            <button ion-button color="secondary" (click)="goToProfilePage()">Update Profile</button>
        </div>
    </ion-item>
    <ion-card *ngFor="let item of newPrayerList; let i = index; trackBy:trackByIndex">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{item.profilePicUrl}}" *ngIf="item.profilePicUrl">
          <img src="assets/img/default_user_image.jpg" *ngIf="!item.profilePicUrl">
        </ion-avatar>
        <p><b>{{item.userName}}</b></p> 
         <button ion-button icon-only clear item-right default (click)="presentActionSheet(item)" style="padding: 0 0 0 5px; margin: 0;">
          <ion-icon name="close-circle" color="gray" style="padding-left: 0 0 0 5px; margin: 0;"></ion-icon>
        </button>
      </ion-item>
      <ion-item text-wrap>
        <p style="-webkit-box-orient: vertical" class="clamp">{{item.message}}</p>
      </ion-item>
      <ion-item>
        <button ion-button icon-only clear item-left default (click)="prayFor(item, i)">
          <ion-icon [name]="item.prayers.hasOwnProperty(currentUserId) ? 'heart' :'heart-outline'"
                    [color]="item.prayers.hasOwnProperty(currentUserId) ? 'secondary' :'gray'"></ion-icon>
        </button>
        <p item-left>{{item.prayerCount}} prayers</p>
        <p item-right>{{item.timestamp | amTimeAgo}}</p>
      </ion-item>
    </ion-card>
    <!-- Display below if no requests created -->
    <ion-card *ngIf='newPrayerList.length === 0'>
      <ion-item>
        <div text-center>
          <p>No requests created.</p>
        </div>
      </ion-item>
      <ion-item>
        <div text-center>
          <button ion-button color="secondary" (click)="goToHomePage()">Create Prayer Request</button>
        </div>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <page-footer></page-footer>
</ion-footer>