<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Signup <!--Image/Logo goes here-->
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signup">
  <img src="assets/img/fellowship_logo.png" style="width: auto;margin: auto;display: block;">
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input #firstName formControlName="firstName" type="firstName" (change)="elementChanged(firstName)"
        placeholder="Your first name"
        [class.invalid]="!signupForm.controls.firstName.valid && (firstNameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.firstName.valid  && (firstNameChanged || submitAttempt)">
      <p>Required.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input #lastName formControlName="lastName" type="lastName" (change)="elementChanged(lastName)"
        placeholder="Your last name"
        [class.invalid]="!signupForm.controls.lastName.valid && (lastNameChanged || submitAttempt)"></ion-input>
    </ion-item >
    <ion-item class="error-message" *ngIf="!signupForm.controls.lastName.valid  && (lastNameChanged || submitAttempt)">
      <p>Required.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Birthday</ion-label>
      <ion-datetime #birthDay formControlName="birthDay" type="birthDay" (changed)="elementChanged(birthDay)"
        displayFormat="MMM DD YYYY"
        [class.invalid]="!signupForm.controls.birthDay.valid && (birthDayChanged || submitAttempt)"></ion-datetime>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.birthDay.valid  && (birthDayChanged || submitAttempt)">
      <p>Required.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Gender</ion-label>
      <ion-select #gender formControlName="gender" type="gender" (change)="elementChanged(gender)"
        [class.invalid]="!signupForm.controls.gender.valid && (genderChanged || submitAttempt)">
        <ion-option value="female">Female</ion-option>
        <ion-option value="male">Male</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.gender.valid  && (genderChanged || submitAttempt)">
      <p>Required.</p>
    </ion-item>

    <button ion-button block type="submit" color="secondary">
      Create an Account
    </button>

  </form>

</ion-content>